# Ignore virtual environment directories
ragenv/
venv/

# Ignore data folder (if you don't want to track datasets)
data/

# Ignore Python cache files
__pycache__/
*.py[cod]
*.egg-info/

# Log files, etc.
*.log
